- provide(:title, 'Congratulations on your Offer')

%h3 
  = "Congratulation on being selected to attend the"
  %br
  = "#{current_application_settings.contest_year} Bear River Conference!"
%p
  = link_to "Login", new_user_session_path, :class => 'btn btn-sm btn-success'

= raw(current_application_settings.registration_acceptance_directions)

%div.mt-4
  The Bear River Staff,
%p
  Feel free to reach out with any questions to
  %br
  = mail_to "bearriver-questions@umich.edu"
