- provide(:title, 'Home')

%h1 Bear River Conference Application
%h6.pl-3.text-muted
  = "Time Now #{Time.now.to_s(:special_date)}"

- if current_application_settings.application_open_directions.present?
  = raw(current_application_settings.application_open_directions)
  %br
  %br

.card.text-center
  .card-header
    The window for applying to attend the Bear River Conference will be open
    for
    = current_application_settings.application_open_period
    hours
  .card-body
    Starting:
    = current_application_settings.opendate.to_s(:special_date)
    %br
    Ending:
    = (current_application_settings.opendate + current_application_settings.application_open_period.hours).to_s(:special_date)

  .card-footer

    - if user_signed_in?
      - if user_has_application?(current_user)
        %h6.alert.alert-success
          Your application has been successfully submitted for this year's conference. We will
          contact you soon with further instructions.
        %br
          Return to the
          = link_to "Bear River Conference site", "https://lsa.umich.edu/bearriver"
      - else
        .row.justify-content-center
          .col-2
            = link_to 'Apply', new_application_path, class: 'btn btn-sm btn-success'
    - else
      %h6
        You are required to have an account to apply for
        the conference.
        %br
        = link_to "Login", new_user_session_path, class: 'btn btn-sm btn-info'
        or
        = link_to "Sign up", new_user_registration_path, class: 'btn btn-sm btn-primary'
