<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="mt-2">
    <p class="mb-2">To ensure you receive the password reset email:</p>
    <ul class="list-disc ml-4 space-y-2">
      <li><strong>Add to Contacts</strong>: Save these addresses to your contacts list:
        <ul class="list-disc ml-4 mt-1">
          <li><span class="font-mono">bearriver-questions@umich.edu</span></li>
          <li><span class="font-mono">no-reply@bearriver.lsa.umich.edu</span></li>
        </ul>
      </li>
      <li><strong>Check Other Folders</strong>: If the email doesn't appear in your inbox, check spam, promotions, or other folders. If found, mark it as "Not Spam" or "Looks Safe"</li>
    </ul>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
