<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-um-blue ps-7">
    <%= link_to(image_tag('bearriver-logo.png', alt: "Bear River Logo, link to home page.", class: 'navbar-brand', id: 'nav-bar-logo'), root_path) %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto"> <!-- Changed 'mr-auto' to 'me-auto' for margin end -->
        <li class="nav-item">
          <%= link_to "Home", root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Privacy", privacy_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Terms of Use", terms_of_service_path, class: 'nav-link' %>
        </li>
      </ul>
      <p class="navbar-text d-flex justify-content-end pe-3"> <!-- Added flex utilities for alignment -->
        <% if user_signed_in? %>
          
          <%= button_to "Logged in as #{current_user.email}", edit_user_registration_path, form: { class: 'd-inline' }, class: 'btn btn-sm btn-outline-info' %>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, form: { class: 'd-inline' }, class: 'btn btn-sm btn-outline-warning' %>
        <% else %>
          <% if current_application_open? %>
            <%= button_to "Sign up", new_user_registration_path, form: { class: 'd-inline' }, class: 'btn btn-sm btn-outline-info' %>
            |
            <%= button_to "Login", new_user_registration_path, form: { class: 'd-inline' }, class: 'btn btn-sm btn-outline-info' %>
          <% else %>
            <%= button_to "Login", new_user_registration_path, form: { class: 'd-inline' }, class: 'btn btn-sm btn-outline-info' %>
          <% end %>
        <% end %>
      </p>
    </div>
  </nav>
</header>
