%header
  .container-responsive
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      = link_to image_tag(asset_pack_path('media/images/bearriver-logo.png'), alt: "Bear River Logo, link to home page.", class: 'navbar-brand', id: 'nav-bar-logo'), root_path
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item
            = link_to "Home", root_path, :class => 'nav-link'
          %li.nav-item
            = link_to "About", about_path, :class => 'nav-link'
          %li.nav-item
            = link_to "Privacy", privacy_path, :class => 'nav-link'
          %li.nav-item
            = link_to "Terms of Use", terms_of_service_path, :class => 'nav-link'

        %p.navbar-text.pull-right
          - if user_signed_in?
            Logged in as
            = link_to current_user.email, edit_user_registration_path, :class => 'navbar-link'
            %br
            = link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'
          - else
            - if current_application_open?
              = link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
              |
              \#{link_to "Login", new_user_session_path, :class => 'navbar-link'}
            - else 
              = link_to "Login", new_user_session_path, :class => 'navbar-link'
