<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>BearriverApplication</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>
<body>
  <%= render "layouts/header" %>
  <%= render "layouts/notifications" %>
  
  <main role="main" id="content">
    <div class="container">
      <%= render 'layouts/aside' %>
      <%= yield %>
    </div>
  </main>

  <%= render "layouts/footer" %>
</body>
</html>
