<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <title>BearriverApplication</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_include_tag "application", "data-turbo-track" => "reload", type: "module" %>
  <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track" => "reload" %>
</head>
<body>
  <%= render "layouts/header" %>
  <%= render "layouts/notifications" %>
  <%= render 'layouts/aside' %>
  
  <div class="container">
    <%= yield %>

    <% if Rails.env.development? %>
      <%= debug(params) %>
      <%= debug @user %>
    <% end %>
  </div>

  <%= render "layouts/footer" %>
</body>
</html>
