<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <style>
    body {
      font-family: Arial, sans-serif;
      color: #333;
      line-height: 1.5;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
    }
    .header {
      padding-bottom: 20px;
      border-bottom: 1px solid #eee;
      margin-bottom: 20px;
    }
    .logo {
      max-width: 150px;
    }
    h1, h2, h3 {
      color: #1a5a96;
      margin-top: 20px;
    }
    .footer {
      margin-top: 30px;
      padding-top: 20px;
      border-top: 1px solid #eee;
      font-size: 0.8em;
      color: #666;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Bear River Writers' Conference</h1>
    </div>

    <%= yield %>

    <hr>
    <h4><%= link_to "Bear River Writers' Conference", "https://lsa.umich.edu/bearriver" %></h4>
    <p>
      3187 Angell Hall<br>
      435 South State Street<br>
      Ann Arbor, MI 48109-1003
    </p>
    <p>
      If you have any questions, please contact <%= mail_to "bearriver-questions@umich.edu", "bearriver-questions@umich.edu" %>
    </p>
    <div class="footer">
      <p>This is an automated email. Please do not reply to this message.</p>
      <p>&copy; <%= Date.today.year %> <%= link_to "The Regents of the University of Michigan", "https://regents.umich.edu" %> | All Rights Reserved</p>
    </div>
  </div>
</body>
</html>
